body {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.app-container {
  height: 400px;
  width: 300px;
  background-color: rgb(228, 167, 11);
  border-radius: 20px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}
.temperature-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.temperature-display {
  display: flex;
  border-radius: 50%;
  color: white;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;

  border: 3px #ffffff solid;
  transition: background 0.5s;

  /* bor 3px #ffffff solid; */
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button1 {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  font-size: 32px;
  color: #ffffff;
  background: #035aa6;
  border: 2px #ffffff solid;
}
.button1 :hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}
.button1 :focus {
  outline: 0;
}


.button2 {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  font-size: 32px;
  color: #ffffff;
  background: #ff5200;
  border: 2px #ffffff solid;
}
.button2 :hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}
.button2 :focus {
  outline: 0;
}
.cold {
  background-color: #035aa6;
}

.hot {
  background: #ff5200;
}
